#head {
  background: black;
  height: 50px;
  width: 50px;
  position: absolute;
  background-color: green;
}

.body {
  background: black;
  height: 50px;
  width: 50px;
  position: absolute;
  background-color: blue;
}

#board {
  height: 500px;
  width: 500px;
  border: 1px black solid;
}

#apple {
  height: 50px;
  width: 50px;
  position: absolute;
}
