#head {
  background: black;
  position: absolute;
  background-color: green;
}

.body {
  background: black;
  position: absolute;
  background-color: blue;
  z-index: -2;
  /*border: 1px solid black;*/
}

#gameBoard {
  /*position: absolute;*/
  top: 10;
  left: 10;
  padding: 10;
}

#board {
  /*position: absolute;*/
  border: 1px solid black;
}

#apple {
  position: absolute;
  z-index: -1;
}
