<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Game Controller</title>
  <link href="controller/css/bootstrap.css" rel="stylesheet">
  <!--external css-->
  <!-- <link rel="stylesheet" type="text/css" href="assets/css/zabuto_calendar.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.gritter/1.7.4/js/jquery.gritter.min.js" />
  <link rel="stylesheet" type="text/css" href="controller/js/gritter/css/jquery.gritter.css" /> -->
  <link rel="stylesheet" href="controller/css/style.css">
  <link href="controller/css/graph.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- <link href="controller/font-awesome/css/font-awesome.css" rel="stylesheet" /> -->
</head>

<body>
  <section id="container">
    <header class="header black-bg">

      <div class="sidebar-toggle-box">
        <div class="fa fa-bars"></div>
      </div>
      <a href="#" class="logo"><b>VICISSITUTOR</b></a>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">

          <li><a class="logout" href="/">Logout</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->


    <!-- modal info when Game Change clicked -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Vicissitutor</h4>
          </div>
          <div class="modal-body">
            <h2>Instructions</h2>
            <h4 style='margin-left: 35px; color: #428bca'>1. Select a game to control by clicking on the game name. <br>
              2. Click on "Copy Client URL" button. <br>
              3. Give url to client to connect.
            </h4>
            <form>

              <h2>Game Descriptions</h2>
              <div id="gameDescriptions">
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <aside>
      <div id="sidebar" class="nav-collapse ">
        <ul class="sidebar-menu" id="nav-accordion">

          <p class="centered">
            <a href="#"><img src="logo.jpg" class="img" width="60"></a>
          </p>
          <% if (username) { %>
            <h5 class="centered"><%= username %></h5>
            <% } %>

              <li class="mt">
                <a id='change_game' href="javascript:;" data-toggle="modal" data-target="#myModal">
                  <i class="fa fa-desktop"></i>
                  <span>Change Game</span>
                </a>
              </li>

              <li class="sub-menu">
                <a href='javascript:;' id='copyurl'>
                  <div class='zero-clipboard'>
                    <i class="fa fa-copy"></i>
                    <span class='btn-clipboard'>Copy Client URL</span></div>
                </a>
              </li>

        </ul>
      </div>
    </aside>

    <section id="main-content">
      <section class="wrapper">

        <div class="row mt">
          <div class="col-md-6 col-sm-6 mb">
            <div class="white-panel pn">
              <div class="white-header">
                <h5>Performance</h5>
              </div>

              <center>
                <div id="graph"></div>
              </center>
              <center>
                <div id='graphOptions'></div>
              </center>

            </div>
          </div>

          <div class="col-md-6 col-sm-6 mb">
            <div class="white-panel pn">
              <div class="white-header">
                <h5>Clients View</h5>
              </div>
              <center>
                <div class='module' id='screenCast'></div>
              </center>

            </div>
          </div>

          <div class="col-md-12 mb">
            <div id='sheup' class="white-panel pn">
              <div class="white-header">
                <h5>Controllers</h5>
              </div>

              <div class='module' id='controls'>


                <table id='controllers'>

                  <center>
                    <tr width='100%'>
                    </tr>
                  </center>
                </table>
              </div>

            </div>
          </div>
        </div>
        <!-- /row -->

        <footer class="site-footer">
          <div class="text-center">
            Vicissitutor
            <a href="index.html#" class="go-top">
              <i class="fa fa-angle-up"></i>
            </a>
          </div>
        </footer>

      </section>
    </section>
  </section>
  <p id='urltocopy' style='font-size:1px;'></p>
  <script src='/socket.io/socket.io.js'></script>
  <!-- <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script> -->
  <script src="controller/js/jquery.js"></script>
  <!-- <script src="controller/js/jquery-1.8.3.min.js"></script> -->
  <script src="controller/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="controller/js/jquery.dcjqaccordion.2.7.js"></script>
  <!-- <script src="controller/js/jquery.scrollTo.min.js"></script>
  <script src="controller/js/jquery.nicescroll.js" type="text/javascript"></script> -->
  <script src="controller/js/jquery.sparkline.js"></script>
  <!-- <script src="controller/js/common-scripts.js"></script>
  <script type="text/javascript" src="controller/js/gritter/js/jquery.gritter.js"></script>
  <script type="text/javascript" src="controller/js/gritter-conf.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      var unique_id = $.gritter.add({
        // (string | mandatory) the heading of the notification
        title: 'Getting Started',
        // (string | mandatory) the text inside the notification
        text: '1. Copy URL from the left nav bar and send to client. <br>2. To change games click on "Change Game" in the nav bar. ',
        // (string | optional) the image to display on the left
        image: 'logo.jpg',
        // (bool | optional) if you want it to fade out on its own or just sit there
        sticky: true,
        // (int | optional) the time you want it to be alive for before fading out
        time: '',
        // (string | optional) the class name you want to apply to that specific message
        class_name: 'my-sticky-class'
      });
      return false;
    });
  </script> -->
  <script>
    $(document).ready(function() {
     $('#change_game').click();
   });

    var userId = window.location.search.slice(window.location.search.indexOf('?') + 4);
    var qs = '/' + userId

    var socket = io(qs);
    var url = window.location.origin + '/game?id=' + userId;
    $('#urltocopy').text(url);

    $('#copyurl').click(function() {
      var range = document.createRange();
      var selection = window.getSelection();
      range.selectNodeContents(document.getElementById('urltocopy'));
      selection.removeAllRanges();
      selection.addRange(range);
      document.execCommand('copy');
      selection.removeAllRanges()
    })



    var ctrlObj = {};
    var graphCounter = 0;

    function properSpacing(word) {
      var re = /[A-Z]/g,
        changeLetter = word.match(re);
      if (changeLetter) {
        var wordArr = word.replace(changeLetter, ' ' + changeLetter).split(' ');
      } else {
        var wordArr = [word];
      }
      var first = wordArr[0][0].toUpperCase() + wordArr[0].slice(1);
      wordArr[0] = first;
      return wordArr.join(' ')

    }

    //Get the game descriptions from the folder names
    var gameDescriptions;
    $.get('/gameDescriptions', (data) => {
      gameDescriptions = data;
      for (var i in data) {

        $('#gameDescriptions').append('<h3></h3><a href="#"  onclick="selectGame(this)" class="gameSelector" id="' + i + '" data-dismiss="modal">' + data[i].name + '</a></h3><p>' + data[i].description + '</p>')
      }

    }); 


    // builds controls and changes game
    function selectGame(game) {
      buildControls(game.id);
      socket.emit('changeGame', [game.id, userId]);
    }


    var currentGame, buttonsPerCell = 3;

    function buildControls(game) {
      if (currentGame !== game) {
        $('.graphButtons').remove();
        graphButtonsOnPage = false;
        $('#controllers tr td').remove();
        ctrlObj = gameDescriptions[game].controlObject;
        currentGame = game;
        let ctrlCount = {};
        for (let j in ctrlObj) {
          ctrlCount[ctrlObj[j].type] = ctrlCount[ctrlObj[j].type] + 1 || 1
        }

        let numOfVars = ctrlCount.range + Math.floor(ctrlCount.button / buttonsPerCell) + 1

        let buttons = [];
        for (var key in ctrlObj) {
          if (ctrlObj[key].value || ctrlObj[key].value === 0) {
            localStorage.setItem(ctrlObj[key], ctrlObj[key].value)
          }
          if (ctrlObj[key].type === 'range') {
            $('#controllers tr').append('<td width="' + 100 / numOfVars + '%"><h3>' + properSpacing(key) + '</h3><center><input type="text" value="' + ctrlObj[key].value + '" class="dial" id="' + key +
              '" data-step="' + ctrlObj[key].step + '" data-min="' + ctrlObj[key].min + '" data-max="' + ctrlObj[key].max + '" data-width="100" data-thickness="0.4" padding="20px"/></center></td>');
          }

          // if (ctrlObj[key].type === 'button') {
          //   buttons.push('<center><button class="controllerButton" id="' + key + '" onclick="emitButtonPush(this)">' + properSpacing(key) + '</button></center>')
          // }
        }
        // var buttonCell = '';
        // var buttonCount = 0;
        // buttons.forEach(button => {
        //   if (buttonCount < buttonsPerCell) {
        //     buttonCell += button;
        //     buttonCount++;
        //   } else {
        //     $('#controllers tr').append('<td width="' + 100 / numOfVars + '%"><h3>Buttons</h3>' + buttonCell + '</td>');
        //     buttonCell = '';
        //     buttonCount = 0;
        //   }
        //   console.log(buttonCell);
        // })
        // console.log('button count: ', buttonCount);
        // if (buttonCount > 0) {
        //   $('#controllers tr').append('<td width="' + 100 / numOfVars + '%"><h3>Buttons</h3>' + buttonCell + '</td>');
        // }

        $(document).ready(function($) {
          $(".dial").knob({
            draw: function() {
              var id = this.$[0].id;
              var old = localStorage.getItem(id);
              var value = this.$[0].value;
              localStorage.setItem(id, value);
              socket.emit('changeVariable', [id, value, old])
            }
          });
        });
      }
    }

    function emitButtonPush(button) {
      console.log('button Pushed');
      socket.emit('changeVariable', [button.id])
    }

    //renders the image on the controller side.

    socket.on('image', url => {
      var imgSVG = buildImg(url);

      $('#screenCast').empty();
      var svg = new Image();
      svg.src = imgSVG;

      var canvas = document.createElement('canvas');
      canvas.width = url.w;
      canvas.height = url.h;

      var context = canvas.getContext('2d');

      context.drawImage(svg, 0, 0)
      var img = new Image();

      img.id = 'screenShare';


      img.src = canvas.toDataURL('image/png')

      $('#screenCast').get(0).appendChild(img);
    })

    //builds image SVG url to convert.

    var buildImg = function(imgObj) {
      imgData = imgObj.html;

      if (imgObj.html.indexOf('<img') >= 0) {
        var re = /<img\s+[^>]*src="([^"]*)"[^>]*>/;

        var len = imgObj.html.match(re).index + imgObj.html.match(re)[0].length
        imgData = imgObj.html.slice(0, len) + '</img>' + imgObj.html.slice(len);
      }

      var xml = '<foreignObject x="0" y="0" width="100%" height="100%">' + imgData + '</foreignObject>';
      var foreignObject = '<svg xmlns="http://www.w3.org/2000/svg" width="' + imgObj.w + '" height="' + imgObj.h + '">' + xml + '</svg>';
      return 'data:image/svg+xml;charset=utf-8,' + foreignObject;
    }



    $('.logout').click(function() {
      $.get('/logout')
    })
    $('.zero-clipboard').tooltip({
      content: 'Copied!'
    });
  </script>

  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="controller/src/graph.js" charset="utf-8"></script>
  <script src='controller/src/jquery.knob.js' charset="utf-8"></script>
</body>

</html>
